apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshot
metadata:
  name: linstor-snapshot-test
spec:
  volumeSnapshotClassName: linstor-csi-snapshot-class
  source:
    persistentVolumeClaimName: linstor-pvc-test
